.searchInput {
  border: 1px solid #2C2C2C;
  border-radius: 5px;
  min-width: 100%;
  margin-top: 1.8rem;
}

.searchInput input::placeholder, .searchInput:ms-input-placeholder {
  color: #BFBFBF;
  background-color: #FFF;
  font-weight: 300;
}

.searchButton {
  margin-top: 1.2rem;
  font-size: 2rem;
  color: #F4F4F4;
  background-color: #E2514C;
  min-width: 100%;
  border-radius: 5px;
}