.scrollToTop {
  position: fixed;
  width: 6rem;
  bottom: 15rem;
  right: 0;
  align-items: center;
  height: 6rem;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.7;
  background-color: #e2514c;
  border-radius: 0;
}

.arrow {
  width: 4rem;
  height: 4rem;
}

.scrollToTop:hover {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
