.cardContainer {
  background-color: white;
  box-shadow: 1px 1px 6px 0 #cccccc;
  margin-bottom: 3rem;
  padding: 2rem;
  position: relative;
  overflow: hidden;
}

.searchContainer {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.searchInstructions {
  margin-bottom: 5rem;
}

.cardTitleContainer {
  padding-right: 3rem;
}

.cardTitle {
  font-size: 2.8rem;
  color: #e2514c;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  margin-right: 0.8rem;
}

.packageVersion {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  display: inline-block;
  vertical-align: 0.1rem;
}

.dotMenuButton {
  width: 4.4rem;
  height: 6rem;
  position: absolute;
  top: 0;
  right: 0;
}

.threeDot,
.dotMenuX {
  height: 2.2rem;
}

.dotMenuX {
  margin-right: 1rem;
}

.dotMenuOpen {
  background: #e2514c;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  width: 28rem;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.slideMenuHidden {
  display: none;
}

.dotAnimationHidden {
  display: none;
}

@-webkit-keyframes dotAnimationOpen {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes dotAnimationOpen {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.dotAnimationOpen {
  -webkit-animation-name: dotAnimationOpen;
  animation-name: dotAnimationOpen;
}

@-webkit-keyframes dotAnimationClosed {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes dotAnimationClosed {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

.dotAnimationClosed {
  -webkit-animation-name: dotAnimationClosed;
  animation-name: dotAnimationClosed;
}

.trashCanButton {
  height: 4rem;
  width: 7rem;
}

.trashCanImage {
  height: 2.8rem;
}

.three-dot-menu {
  display: flex;
  flex-direction: column;
}

.favoriteButton:disabled {
  background-color: transparent;
  color: white;
}

.favoriteButton {
  height: 4rem;
}

.favoriteStar {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  height: 2.6rem;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.8s ease-in-out;
  -moz-transition: 0.8s ease-in-out;
  -o-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}

.starSpin {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}

.optionArrow {
  height: 1.3rem;
}
