.signupContainer {
  margin-top: 10.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.signupHeading {
  font-size: 4rem;
  color: #2c2c2c;
  font-weight: 600;
}

.signupInstructions {
  font-family: Roboto;
  font-size: 2.2rem;
  color: #2c2c2c;
  font-weight: 300;
}
