.navBarContainer {
  position: relative;
  z-index: 999;
  height: 8.5rem;
  display: flex;
  justify-content: space-between;
  border-bottom: solid #2c2c2c 1px;
}
.navBarContainerLanding {
  position: relative;
  z-index: 999;
  height: 8.5rem;
  display: flex;
  justify-content: space-between;
}

.menuContainer {
  z-index: 998;
  background: #f4f4f4;
  position: fixed;
  width: 100%;
  height: 6rem;
}

.logoHome {
  height: 100%;
  display: inline-block;
  padding: 1.9rem;
}

.hamburgerContainer {
  height: 100%;
  padding: 3rem;
  margin-left: auto;
}

.navLogo {
  width: 100%;
  height: 3.5rem;
  display: inline-block;
}

.landingSearch {
  display: inline-block;
  text-align: center;
}

.navSearch {
}

.navSearchInput[type='text'] {
  display: inline-block;
  min-width: 0;
  border: none;
  background-color: #e2514c;
  border-radius: 0;
  border-right: solid white 1px;
  margin-top: 0;
  padding: 1.8rem;
  height: 8.4rem;
  flex-grow: 2;
}

.navSearchInput[type='text']::placeholder {
  color: #fff;
}

.navSearchForm {
  display: flex;
  flex-direction: row;
}

.navSearchToggle {
  margin: 2.5rem;
  height: 3.3rem;
}

.searchButtonIcon {
  margin: 2.5rem;
  height: 3.3rem;
  width: 3.3rem;
}

.navSearchButton[type='submit'] {
  margin-top: 0;
  min-width: 3.3rem;
  height: 8.4rem;
  border-radius: 0;
  flex-grow: 1;
}

.navName {
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 3.2rem;
  display: inline-block;
  letter-spacing: -0.1rem;
  margin-left: 0.7rem;
  font-style: none;
  color: black;
  padding-right: 1rem;
}

/* @media only screen and (min-width: 1024px) {
  .navBarContainer {
    padding-right: calc(49vw - 42rem);
    padding-left: calc(49vw - 42rem);
    z-index: initial;
  }

  .mainLogo {
    margin-left: 0;
  }
} */
