.login-container {
  margin-top: 9rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin-bottom: 4rem;
}

.loginForm {
  margin-top: 2.7rem;
}

.demoCredentials {
  /* padding-top: 1.5rem; */
}

.loginSubmit[type='submit'] {
  margin-top: 3.5rem;
}

.titleContainer {
  position: relative;
}

.mrBuddy {
  position: absolute;
  height: 11.6rem;
  left: 12.5rem;
  bottom: 0.9rem;
}
