.collectionPageContainer {
  margin-top: 4rem;
}

.collectionTitle {
  color: #fff;
  height: 6rem;
  background-color: #c74848;
  padding-left: 3rem;
  position: relative;
  margin-left: 3rem;
  margin-bottom: 3.5rem;
  padding-right: 3rem;
  border-radius: 0 3.4rem 3.4rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.collectionTitle::after {
  height: 8.2rem;
  bottom: 0rem;
  background-color: transparent;
  width: 9rem;
  content: '';
  background-image: url('../../images/logo-ball-left-red.svg');
  position: absolute;
  background-repeat: no-repeat;
  left: -4.4rem;
}

.editPencil {
  height: 2.4rem;
  margin-top: 0.5rem;
}

.saveIcon {
  height: 2rem;
}
