.landingContainer {
  margin: 0 auto;
  margin-top: 10rem;
  background-color: #f4f4f4;
}

.landingTitle {
  text-align: center;
  margin: 0 auto;
}

.landingInfoContainer {
  background-color: white;
  padding: 2.5rem;
  box-shadow: 1px 1px 6px 0 #cccccc;
  margin-bottom: 3rem;
}

.introContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
}

.landingSectionTitle {
  color: #2c2c2c;
  margin-bottom: 1.2rem;
  text-align: center;
  font-size: 2.8rem;
}

.logoMain {
  max-height: 14rem;
  margin-bottom: 0.8rem;
}

.landingSearch {
  font-weight: 400;
  min-height: 6rem;
  width: 100%;
  margin-bottom: 8rem;
}

.underline {
  text-decoration: underline;
}

.description {
  color: #2c2c2c;
  margin: 0 auto;
  text-align: center;
  font-size: 1.8rem;
}

.landingSearchInput[type='text'] {
  padding-left: 6rem;
  background-repeat: no-repeat;
  background-size: 3.3rem;
  background-position: 1.4rem;
  background-image: url('../../images/mag-glass-gray.svg');
}

.landingGettingStarted {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 5rem;
}

.codeContainer {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.landingGettingStarted code {
  border: solid 1px #919191;
  padding: 1rem;
  border-radius: 5px;
}

.steps {
  margin: 0 auto;
  list-style: '\1F449';
  width: 80%;
}

.steps li {
  margin: 0.8rem;
  padding-left: 0.8rem;
  color: #2c2c2c;
  font-size: 1.8rem;
}

.steps a {
  color: #c33c3c;
  text-decoration: none;
  cursor: pointer;
  font-weight: 700;
  transition-duration: 200ms;
}

.steps a:hover {
  text-decoration: underline;
  transition-duration: 200ms;
}

.actionTitle {
  font-size: 1.7rem;
  color: #2c2c2c;
  margin-bottom: 0.5rem;
}

.actionContainer {
  position: relative;
  padding-left: 4rem;
  margin-bottom: 2.5rem;
}

.checkmarkCircle {
  height: 2.8rem;
  position: absolute;
  left: 0;
  top: 0;
}

.actionDescription {
  font-size: 1.7rem;
  color: #2c2c2c;
  text-decoration: none;
}

.landingSectionActions {
  margin-top: 1.8rem;
  margin-bottom: 2rem;
  color: #2c2c2c;
  text-align: center;
  font-size: 2.8rem;
}

.rocketImage {
  max-height: 14.4rem;
  display: block;
  margin: 3rem auto 2rem;
}
