.signupForm input[type='text'],
.signupForm input[type='password'] {
  padding-left: 2rem;
  margin-right: 2rem;
  margin-top: 1.8rem;
}

.signupSubmit {
  margin-top: 3.5rem;
  font-weight: 400;
  font-size: 2rem;
  color: #f4f4f4;
}
