.app {
  min-height: 100vh;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 1.7rem;
  font-weight: 300;
  background-color: #f4f4f4;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.appMain {
  padding: 7rem 2.5rem 18rem 2.5rem;
  margin: 0 auto;
}

button {
  font-family: 'Montserrat', sans-serif;
  margin-top: 1.8rem;
  font-size: 2rem;
  color: #f4f4f4;
  background-color: #e2514c;
  min-width: 100%;
  border-radius: 5px;
  height: 6rem;
  cursor: pointer;
  border: none;
  padding: 0;
  font-weight: 400;
  font-size: 2rem;
  outline: none;
  transition: all 0.1s ease-out 0.1s;
  -webkit-transition: all 0.1s ease-out 0.1s;
  -moz-transition: all 0.1s ease-out 0.1s;
  -o-transition: all 0.1s ease-out 0.1s;
}

button:hover {
}

input,
input[type='text'],
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #2c2c2c;
  border-radius: 5px;
  min-width: 100%;
  margin-top: 1.8rem;
  height: 6rem;
  background-color: white;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
}

input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #919191;
  opacity: 1;
  font-weight: 400;
}

input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #919191;
  opacity: 1;
  font-weight: 400;
}

input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #919191;
  opacity: 1;
  font-weight: 400;
}

button:disabled,
button[disabled] {
  color: black;
}

.textCenter {
  text-align: center;
}

.defaultMedium {
  font-weight: 500;
}

.underline {
  text-decoration: underline;
}

.inline {
  display: inline-block;
}

@media only screen and (min-width: 768px) {
  .appMain {
    padding-right: 4rem;
    padding-left: 4rem;
  }
}
