.packageDetails {
  width: 100%;
  font-size: 1.4rem;
  margin-top: 5.5rem;
}

.packageDetails pre {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: auto;
  overflow-y: hidden;
  font-size: 1.2rem;
  line-height: 2rem;
  background: #efefef;
  border: 1px solid #777;
  border-radius: 5px;
}

.packageDetails code {
  padding: 1rem;
  color: #333;
}

.packageDetails h1,
.packageDetails h2,
.packageDetails h3,
.packageDetails h4,
.packageDetails p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.metadata {
  font-size: 1.4rem;
}

/* 
These breakpoints are based on tachyon's source

TACHYONS v4.9.0 | http://tachyons.io

The MIT License (MIT)

Permission is hereby granted, free of charge, to any person obtaining a
copy of this software and associated documentation files (the "Software"),
to deal in the Software without restriction, including without limitation
the rights to use, copy, modify, merge, publish, distribute, sublicense,
and/or sell copies of the Software, and to permit persons to whom the
Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
DEALINGS IN THE SOFTWARE. 

._6d9832ac {
  padding-top: 8px;
  font-size: 18px;
  line-height: 1.6;
}
@media screen and (min-width: 30em) {
  ._6d9832ac {
    font-size: 1rem;
  }
}
._6d9832ac h1,
._6d9832ac h2,
._6d9832ac h3,
._6d9832ac h4,
._6d9832ac h5,
._6d9832ac h6 {
  color: #111;
  margin-top: 24px;
  margin-bottom: 16px;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  font-weight: 600;
  line-height: 1.25;
}
._6d9832ac ._280057d3 {
  font-size: 3em;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 16px;
  padding-bottom: 1rem;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  margin-top: 16px;
  margin-top: 1rem;
}
._6d9832ac a {
  color: #cb3837;
  text-decoration: none;
  font-size: 1em;
}
._6d9832ac p a, ._6d9832ac li a {
  font-weight: normal;
}
._6d9832ac blockquote {
  background: none;
  padding: 0px 16px;
  margin-left: 0;
  margin-right: 0;
  border-left: #cecece solid 4px;
  border-radius: 0;
}
._6d9832ac>*:last-child {
  margin-bottom: 0;
}
._6d9832ac h1:first-child {
  font-weight: 700;
  margin-top: 0;
}
._6d9832ac > h1:first-child > a:first-child {
  display: none; 
}
._6d9832ac::first-letter-line {
  font-size: 80px;
  font-size: 5rem;
  margin-top: 0;
  font-weight: 100;
}
._6d9832ac h1 {
  font-size: 36px;
  font-size: 2.25rem;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}
._6d9832ac h2 {
  font-size: 30px;
  font-size: 1.875rem;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding-bottom: 8px;
  letter-spacing: -0.8px;
  letter-spacing: -.05rem;
}
._6d9832ac h3 {
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: -0.48px;
  letter-spacing: -.03rem;
}
._6d9832ac h4 {
  font-size: 18px;
  font-size: 1.125rem;
  padding-bottom: 8px;
  letter-spacing: -0.48px;
  letter-spacing: -.03rem;
  border-bottom: 1px solid #eee;
}
._6d9832ac h5 {
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: -0.16px;
  letter-spacing: -.01rem;
}
._6d9832ac h6 {
  font-size: 14px;
  font-size: 0.875rem;
  letter-spacing: -0.16px;
  letter-spacing: -.01rem;
}
._6d9832ac p {
  color: rgba(0, 0, 0, .85);
  font-size: 18px;
  line-height: 1.6;
  margin-top: 0;
  margin-bottom: 16px;
  line-height: 1.65;
  letter-spacing: 0.1px;
}
._6d9832ac p li {
  line-height: 1;
  margin-top: 0;
  margin-bottom: 8px;
}
._6d9832ac strong {
  color: black;
  font-weight: bolder;
}
._6d9832ac hr {
  opacity: 0.2;
  height: 0px;
}
._6d9832ac ol {
  padding-left: 17px;
  padding-top: 0;
  margin-top: 0;
}
._6d9832ac ol li, ._6d9832ac ul li {
  margin-bottom: 6px;
  font-size: 1.1em;
}
._6d9832ac td, ._6d9832ac th {
  font-size: 1.1em;
  padding: 9px 13px;
  border: 1px solid #d8d8d8;
  border-bottom: none;
  line-height: 1.6;
}
._6d9832ac tr td {
  line-height: 1.4;
}
._6d9832ac table {
  display: block;
  white-space: normal;
  overflow-x: auto;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border-bottom: 1px solid #e2e2e2;
}
._428bc763 pre, code {
  -webkit-font-feature-settings: none;
          font-feature-settings: none;
  -webkit-font-variant-ligatures: none;
          font-variant-ligatures: none;
  font-family: "Fira Mono", "Andale Mono", "Consolas", monospace;
  letter-spacing: 0px;
  line-height: 24px;
}
._6d9832ac li p code {
  font-size: 0.8em;
}
._6d9832ac ol li, ._6d9832ac ul li {
  margin-bottom: 6px;
  font-size: 1em;
}
._6d9832ac pre {
  margin-top: 0;
  margin-bottom: 24px;
  padding: 12px;
  font-size: 1em;
  background: #f7f7f7;
  border-radius: 2px;
  overflow-x: auto;
}
._6d9832ac code {
  font-size: 1em;
  border-radius: 2px;
  background: #f7f7f7;
  padding: 0px 5px;
}
@media screen and (min-width: 30em) {
  ._6d9832ac pre {
    padding: 13px 15px;
  }
}
._6d9832ac pre code {
  font-size: 16px;
  font-size: 1rem;
  padding: 0;
}
._6d9832ac p code {
  font-size: 0.9em;
}
._6d9832ac ul {
  padding-left: 1em;
  margin-bottom: 1em;
  font-size: 1em;
  line-height: 1.3;
}
._6d9832ac ul li a {
  font-size: 18px;
  color: #cb3837;
  text-decoration: none;
  font-weight: normal;
  line-height: 1.4;
}
._6d9832ac svg .bab41d78 {
  float: right;
  margin-right: 48px;
  margin-right: 3rem;
  padding-top: 16px;
  padding-top: 1rem;
}
._6d9832ac svg .bab41d78:first-child {
  padding-top: 20px;
} */

/* sass-ified from npm-website
.markdown {
  margin: 0;
  color: #333;
}
.markdown ol {
  list-style-position: outside;
  font-weight: 600;
  margin-bottom: 20px;
  margin-left: 16px;
}
.markdown ol li {
  margin-bottom: 2px;
}
.markdown li {
  font-weight: 400;
}
.markdown > h1 {
  margin: 24px 0 16px 0;
  padding: 0;
  padding-bottom: 7px;
  text-align: left;
  line-height: 1.2;
  white-space: normal;
  text-transform: none;
  letter-spacing: -0.8px;
}
.markdown > h1 a {
  color: text-color;
  text-decoration: none;
}
.markdown >h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  font-weight: 600;
}
.markdown >h2 a,
.markdown h3 a,
.markdown h4 a,
.markdown h5 a,
.markdown h6 a {
  font-weight: 700;
  text-decoration: none;
}
.markdown >h2 a:hover,
.markdown h3 a:hover,
.markdown h4 a:hover,
.markdown h5 a:hover,
.markdown h6 a:hover {
  text-decoration: underline;
}
.markdown >h1,
.markdown h2 {
  border-bottom: 1px solid greigh6;
  margin: 8px 0 16px 0;
}
.markdown h2 {
  letter-spacing: -0.3px;
}
.markdown h3 {
  margin: 16px 0 4px 0;
}
.markdown h4,
.markdown h5,
.markdown h6 {
  margin: 16px 0 4px 0;
}
.markdown ol ol,
.markdown ul ol,
.markdown ol ul,
.markdown ul ul {
  margin: 0 0 0 20px;
}
.markdown p,
.markdown li {
  color: #333;
}
.markdown p a,
.markdown li a {
  font-weight: 600;
}
.markdown th {
  font-weight: bold;
  text-align: center;
}
.markdown td,
.markdown th {
  background: #fff;
  border: 1px solid greigh6;
  text-align: left;
}
.markdown img {
  max-width: 100%;
}
.markdown h1:hover .deep-link .deep-link-icon,
.markdown h2:hover .deep-link .deep-link-icon,
.markdown h3:hover .deep-link .deep-link-icon,
.markdown h4:hover .deep-link .deep-link-icon,
.markdown h5:hover .deep-link .deep-link-icon,
.markdown h6:hover .deep-link .deep-link-icon,
.markdown .deep-link:hover .deep-link-icon,
.markdown .deep-link-icon:hover {
  visibility: visible;
}
.markdown .deep-link {
  float: left;
  margin-left: -20px;
  padding-right: 4px;
}
.markdown .deep-link .deep-link-icon {
  visibility: hidden;
}
.markdown blockquote {
  background: #efefef;
  padding: 1px 16px;
  margin-left: 0;
  margin-right: 0;
  border-left: #cecece solid 10px;
  border-radius: 3px;
}

.markdown table {
  display: block;
  white-space: nowrap;
  overflow-x: auto;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.markdown td, .markdown th {
  padding: 9px 13px;
  border: 1px solid #d8d8d8;
}

.markdown tr:nth-child(2n) td {
  background-color: #f4f4f4;
}

.markdown blockquote p {
}

/*
.markdown .highlight {
  background-color: #f0f0f0;
  color: #000;
  margin-bottom: 16px;
  border-radius: 6px;
}
.markdown .highlight .invisible-character {
  color: rgba(85,85,85,0.2);
}
.markdown .highlight .indent-guide {
  color: rgba(85,85,85,0.2);
}
.markdown .highlight .wrap-guide {
  background-color: rgba(85,85,85,0.2);
}
.markdown .highlight .gutter {
  color: #000;
  background: #fff;
}
.markdown .highlight .gutter .line-number.folded,
.markdown .highlight .gutter .line-number:after,
.markdown .highlight .fold-marker:after {
  color: #e87b00;
}
.markdown .highlight .invisible {
  color: #555;
}
.markdown .highlight .selection .region {
  background-color: #e1e1e1;
}
.markdown .highlight.is-focused .cursor {
  border-color: #000;
}
.markdown .highlight.is-focused .selection .region {
  background-color: #afc4da;
}
.markdown .highlight.is-focused .line-number.cursor-line-no-selection,
.markdown .highlight.is-focused .line.cursor-line {
  background-color: rgba(255,255,134,0.34);
}
.markdown .highlight .source.gfm {
  color: #444;
}
.markdown .highlight .gfm .markup.heading {
  color: #111;
}
.markdown .highlight .gfm .link {
  color: #888;
}
.markdown .highlight .gfm .variable.list {
  color: #888;
}
.markdown .highlight .markdown .paragraph {
  color: #444;
}
.markdown .highlight .markdown .heading {
  color: #111;
}
.markdown .highlight .markdown .link {
  color: #888;
}
.markdown .highlight .markdown .link .string {
  color: #888;
}
.markdown .highlight(.is-focused) .cursor {
  border-color: #000;
}
.markdown .highlight(.is-focused) .selection .region {
  background-color: #afc4da;
}
.markdown .highlight(.is-focused) .line-number.cursor-line-no-selection,
.markdown .highlight(.is-focused) .line.cursor-line {
  background-color: rgba(255,255,134,0.34);
}
.markdown .comment {
  color: #998;
  font-style: italic;
}
.markdown .string {
  color: #d14;
}
.markdown .string .source,
.markdown .string .meta.embedded.line {
  color: #5a5a5a;
}
.markdown .string .punctuation.section.embedded {
  color: #920b2d;
}
.markdown .string .punctuation.section.embedded .source {
  color: #920b2d;
}
.markdown .constant.numeric {
  color: #d14;
}
.markdown .constant.language {
  color: #606aa1;
}
.markdown .constant.character,
.markdown .constant.other {
  color: #606aa1;
}
.markdown .constant.symbol {
  color: #990073;
}
.markdown .constant.numeric.line-number.find-in-files .match {
  color: rgba(143,190,0,0.63);
}
.markdown .variable {
  color: #008080;
}
.markdown .variable.parameter {
  color: #606aa1;
}
.markdown .keyword {
  color: #222;
  font-weight: bold;
}
.markdown .keyword.unit {
  color: #458;
}
.markdown .keyword.special-method {
  color: #0086b3;
}
.markdown .storage {
  color: #222;
}
.markdown .storage.type {
  color: #222;
}
.markdown .entity.name.class {
  text-decoration: underline;
  color: #606aa1;
}
.markdown .entity.other.inherited-class {
  text-decoration: underline;
  color: #606aa1;
}
.markdown .entity.name.function {
  color: #900;
}
.markdown .entity.name.tag {
  color: #008080;
}
.markdown .entity.other.attribute-name {
  color: #458;
  font-weight: bold;
}
.markdown .entity.name.filename.find-in-files {
  color: #e6db74;
}
.markdown .support.constant,
.markdown .support.function,
.markdown .support.type {
  color: #458;
}
.markdown .support.class {
  color: #008080;
}
.markdown .invalid {
  color: #f8f8f0;
  background-color: #00a8c6;
}
.markdown .invalid.deprecated {
  color: #f8f8f0;
  background-color: #8fbe00;
}
.markdown .meta.structure.dictionary.json > .string.quoted.double.json,
.markdown .meta.structure.dictionary.json > .string.quoted.double.json .punctuation.string {
  color: #000080;
}
.markdown .meta.structure.dictionary.value.json > .string.quoted.double.json {
  color: #d14;
}
.markdown .meta.diff,
.markdown .meta.diff.header {
  color: #75715e;
}
.markdown .css.support.property-name {
  font-weight: bold;
  color: #333;
}
.markdown .css.constant {
  color: #099;
}
.markdown .bracket-matcher .region {
  background-color: #c9c9c9;
  opacity: 0.7;
  border-bottom: 0 none;
} */
