.packageDetails {
  width: 100%;
  font-size: 1.4rem;
  margin-top: 5.5rem;
}

.packageDetails pre {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: auto;
  overflow-y: hidden;
  font-size: 1.2rem;
  line-height: 2rem;
  background: #efefef;
  border: 1px solid #777;
  border-radius: 5px;
}

.packageDetails code {
  padding: 1rem;
  color: #333;
}

.packageDetails h1,
.packageDetails h2,
.packageDetails h3,
.packageDetails h4,
.packageDetails p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.metadata {
  font-size: 1.4rem;
}
